body{
    background-image: url("./images/gaitero.jpg");
    width: 500px;
    height: 500px;
    margin: left 35%;
    background-size: cover;
}
.h1{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    position: left,absolute;
}
.box{
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-left: 15px;
}
.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}